/* index.Html: */

/* Nav Links Styling: */

header {
    background-color: rgba(12, 12, 90, 0.932);
    border-color: rgb(0, 0, 0);
    border-radius: 1em;
    box-shadow: 2em;
    overflow: none;
    font-family: monospace;
    padding-left: 15px;
    padding-right: 15px;
}

#RDM-logo {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navdiv a {
    text-decoration: none;
    display: inline-block;
}

.logo a {
    font-size: larger;
    color: white;
    margin: 25px;
}

li {
    display: inline-block;
    list-style: none;
    color: white;

}

li a {
    color: white;
    padding: 10px;
}

/* Buttons Beautification: */
.guest-btn {
    display: flex;
    justify-content: center;
}

.btn-s {
    text-decoration: none;
    color: rgba(12, 12, 90, 0.932);
}

/* CEO Picture: */
.owner-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ceo-pic {
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    margin-top: 20px;
}

#ceo-pic {
    height: 750px;
    width: 1200px;
    padding: 25px;

}

/* Title Edits: */
.title-container {
    position: absolute;
    right: 65%;
    top: 49%;
    bottom: -2%;

    display: flex;
    flex-wrap: wrap;
    border-color: rgba(12, 12, 90, 0.932);
    gap: 20px;
    justify-content: center;
}

.title-holder {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background: rgba(12, 12, 90, 0.932);
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    padding: 30px;
    min-width: 280px;
    max-width: 350px;
    flex-direction: column;
    text-align: center;
    transition: 2s;
    font-family: fantasy;
    transition: 5s;
}



/* Poster Edits: */
.poster-carousel {
    margin: 100px auto;
    width: 90%;
    border: 5px solid rgba(12, 12, 90, 0.932);
    border-right: none;
    border-left: none;
    display: flex;
    overflow-x: auto;
}

.poster-carousel::-webkit-scrollbar {
    display: none;
}

.poster-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 9s infinite linear;
}

.poster.holder {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: white;
    border-radius: .2em;
    align-content: center;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

/* FeedBack Cards Edits: */
.feed-back {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: none;
}

.reviews-box {
    display: flex;
    justify-content: space-evenly;
}

.review-card {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.932);
    text-align: center;
    flex-direction: column;
    padding: 20px;
    font-family: fantasy;
    font-weight: bold;
    background-color: rgba(12, 12, 90, 0.932);
    color: white;
    border-radius: 12px;
    transition: 2s;
    margin-bottom: 20px;
    margin-right: 15px;
    width: 300px;
}

.review-card:hover {
    transform: scale(1.05);
}

#customer-pic {
    display: flex;
    align-self: center;
    width: 250px;
    height: 300px;
}

/* Footer Styling: */
footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(12, 12, 90, 0.932);
    overflow: none;
    font-family: monospace;
    border-color: black
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
}

.footer-info {
    display: center;
    display: inline-block;
    gap: 20px;
    justify-content: center;
    align-self: center;
}

.footer-info h3 {
    color: white;
}

.footer-info p {
    color: white;
}

.footer-info a {
    color: white;
    text-decoration: underline;
}

.footer-info:hover {
    transform: scale(1.05)
}




/* Inventory.Html: */
main {
    border: 5px solid;
    border-color: rgba(12, 12, 90, 0.932);
    border-top: none;
    border-bottom: none;
}

.shop-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    padding: 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

    background-image: url(images/BodaCorner.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.shop-intro h1 {
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
}

.shop-intro p {
    text-align: center;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: larger;
}

.shop-intro a {
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
    color: rgba(12, 12, 90, 0.932);
    font-weight: bold;
    font-size: larger;
}

.shop-box h2 {
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.932);
    font-weight: bold;
    font-size: 40px;

}


/* Shop Cards Styling: */
.shop-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 60px;
}

.shop-cards {
    display: center;
    display: inline-block;
    gap: 70px;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.932);
    border-radius: 12px;
    padding: 30px;
    background-color: white;
    transition: 2s;
}

.shop-cards:hover {
    transform: scale(1.05);
}

.shop-box h2 {
    text-align: center;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
}


#bike-pic {
    display: flex;
    align-self: center;
    width: 300px;
    height: 200px;
}

.shop-cards p {
    text-align: center;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.shop-cards button {
    margin: 10px auto;
    padding: 10px 10px;
    background-color: rgba(12, 12, 90, 0.932);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
}

.shop-cards button a {
    color: white;
    text-decoration: none;
}


/* Contacts.Html: */
#parked-bikes {
    width: 600px;
    height: 500px;
}

.greet-card {
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    border-bottom: none;
    border-right: none;
    margin-top: 20px;
}

.welcome-box {
    position: absolute;
    right: 10%;
    top: 40%;
    bottom: 40%;
    color: white;
    padding: 30px;
    min-width: 280px;
    max-width: 350px;
    flex-direction: column;
    text-align: center;
    transition: 2s;
    font-family: fantasy;
}

.welcome-box:hover {
    transform: scale(1.05);
}

.welcome-box h1 {
    text-align: right;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}

.welcome-box h2 {
    text-align: right;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
}

.welcome-box p {
    text-align: right;
    font-family: fantasy;
    color: black;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 12px;
}

/* Community Reviews Animation: */
#guy-pic {
    align-self: center;
    width: 200px;
    height: 150px;
    align-content: center;
}

.people-box {
    margin: 100px auto;
    width: 90%;
    border: 3px solid rgba(12, 12, 90, 0.932);
    border-top: none;
    border-bottom: none;
    display: flex;
    overflow-x: auto;
}

.people-box::-webkit-scrollbar {
    display: none;
}

.people-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    text-align: center;
}

.ppl-word {
    width: 500px;
    height: 400px;
    padding: 1em;
    background: white;
    border-radius: .2em;
    align-content: center;

}

.event-holer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.event-card {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.932);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: fantasy;
    font-weight: bold;
    border-color: rgba(12, 12, 90, 0.932);
    border-top: none;
    border-bottom: none;
    color: black;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: 2s;
}

.event-name {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.932);
    text-align: center;
    padding: 20px;
    font-family: fantasy;
    font-weight: bold;
    background-color: rgba(12, 12, 90, 0.932);
    border-color: rgba(0, 0, 0, 0.932);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-bottom: 20px;
    transition: 2s;
}

.event-name:hover {
    transform: scale(1.03);
}

.join-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;

}

.join-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-weight: bold;
    transition: 2s;
    cursor: pointer;
}

.join-card:hover {
    transform: scale(1.05);
}

/* Sign Up/ Log InPages Styles: */
.sign-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sign-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-weight: bold;
    transition: 2s;
}

.sign-card button {
    margin: 10px auto;
    padding: 10px 10px;
    background-color: rgba(12, 12, 90, 0.932);
    color: white;
    border: none;
    cursor: pointer;
    font-family: monospace;
}

.sign-card h2 {
    text-align: center;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.reasurance {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reasurance h1 {
    text-align: center;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
}

/* Payment Receipts Style: */
.payment-receipt {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.payment-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid rgba(0, 0, 0, 0.932);
    border-radius: 12px;
    padding: 30px;
    background-color: rgba(12, 12, 90, 0.932);
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-weight: bold;
    transition: 2s;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid rgba(12, 12, 90, 0.932);
    border-radius: 12px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-weight: bold;
    transition: 2s;
}

.payment-form h2 {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.fill-card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-weight: bold;
    transition: 2s;
    margin-top: 50px;
}

.delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.delivery-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid rgba(0, 0, 0, 0.932);
    border-radius: 12px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-weight: bold;
    border-bottom: none;
    transform: 2s ease;

    background-image: url(images/deliverypic.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.delivery-card h3 {
    text-align: center;
    gap: 5px;
}

.delivery-card h2 {
    text-align: center;
    gap: 5px;
}

.delivery-card p {
    text-align: center;
    margin-top: 20px;
}

/* JavaScript Notification Style: */
.no {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(12, 12, 90, 0.932);
    color: white;
    padding: 16px 24px;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    z-index: 1000;
    animation: slideInright 0.5s ease;

}

@keyframes slideInright {
    from {
        opacity: 0;
        transform: translatex(30px);
    }

    to {
        opacity: 1;
        transform: translatex(0)
    }
}